<h1>アルストロメリア</h1>
<h1>サクラ</h1>
<h1>アネモネ</h1>
<h1>アジアンタム</h1>
<h1>オオアラセイトウ</h1>
<h1>イチジク</h1>
<h1>キブシ</h1>
<h1>ディモルフォセカ</h1>
<h1>シバザクラ</h1>
    <div class="button2">
        <%= link_to :back do %>
        <button><< ※トップページに戻る</button>
    </div>
<% end %>