<h1>ヒマワリ</h1>
<h1>アサガオ</h1>
<h1>カンナ</h1>
<h1>マツバボタン</h1>
<h1>トリトマ</h1>
<h1>エリカ</h1>
<h1>トレニア</h1>
<h1>サルビア</h1>
<h1>クレオメ</h1>
    <div class="button2">
        <%= link_to :back do %>
        <button><< ※トップページに戻る</button>
    </div>
<% end %>