<h1>ポインセチア</h1>
<h1>キク</h1>
<h1>カーネーション</h1>
<h1>バラ</h1>
<h1>アベリア</h1>
<h1>シンビジウム</h1>
<h1>ストレリチア</h1>
<h1>カランコエ</h1>
<h1>ウィンターコスモス</h1>
    <div class="button2">
        <%= link_to :back do %>
        <button><< ※トップページに戻る</button>
    </div>
<% end %>