<h1>ウメ</h1>
<h1>セツブンソウ</h1>
<h1>ヒトリシズカ</h1>
<h1>ワスレナグサ</h1>
<h1>シャクヤク</h1>
<h1>ギンバイカ</h1>
<h1>ホトケノザ</h1>
<h1>ストック</h1>
<h1>ジンチョウゲ</h1>
    <div class="button2">
        <%= link_to :back do %>
        <button><< ※トップページに戻る</button>
    </div>
<% end %>