<body>
                                      <p>花ことばGarden</p>

<div class="box">
    <span class="box-title">検索例</span>
    <p0>花名、花言葉を検索できます。
    他にも、「嬉しい」・「喜び」などのワードを入れ検索をかけると花言葉が出てきます</p0>
</div>

<div class="table1">
  <p1>月日から探す</p1>
  <table class="yeartable">
    <tr>
      <td>1月</td><td>2月</td><td>3月</td><td>4月</td>
    </tr>
    <tr>
      <td>5月</td><td>6月</td><td>7月</td><td>8月</td>
    </tr>
    <tr>
      <td>9月</td><td>10月</td><td>11月</td><td>12月</td>
    </tr>
  </table>
</div>

<div class="table2">
    <p1>名前から探す</p1>
    <table class="akasatanatable">
      <tr>
        <td>わ</td><td>ら</td><td>や</td><td>ま</td><td>は</td>
        <td>な</td><td>た</td><td>さ</td><td>か</td><td>あ</td>
      </tr>
      <tr>
        <td></td><td>り</td><td></td><td>み</td><td>ひ</td>
        <td>に</td><td>ち</td><td>し</td><td>き</td><td>い</td>
      </tr>
      <tr>
        <td>を</td><td>る</td><td>ゆ</td><td>む</td><td>ふ</td>
        <td>ぬ</td><td>つ</td><td>す</td><td>く</td><td>う</td>
      </tr>
      <tr>
        <td></td><td>れ</td><td></td>
        <td>め</td><td>へ</td><td>ね</td><td>て</td><td>せ</td><td>け</td><td>え</td>
      </tr>
      <tr>
        <td>ん</td><td>ろ</td><td>よ</td><td>も</td><td>ほ</td>
        <td>の</td><td>と</td><td>そ</td><td>こ</td><td>お</td>
      </tr>
    </table>
  </div>


  <div class="list">
    <form method="get" action="#" class="search_container">
      <input type="text" size="30" style="width:200px; height:40px;" placeholder="　キーワード検索">
      <input type="submit" style="height:40px;" value="検索">
    </form>
  </div>

  <div class="image1">
     <%= image_tag 'flower.jpg' , width: '100%', height:'10%' %>
    <div class="image2"><p2>春の花</p2><p3>夏の花</p3><br/>
         <p4>秋の花</p4><p5>冬の花</p5>
    </div>
  </div>
</body>
