<h1>カーネーション</h1>
<h1>スノードロップ</h1>
<h1>ツバキ</h1>
<h1>クロッカス</h1>
<h1>ミスミソウ</h1>
<h1>ヒヤシンス</h1>
<h1>スミレ</h1>
<h1>フリージア</h1>
<h1>スイセン</h1>
    <div class="button2">
        <%= link_to :back do %>
        <button><< ※トップページに戻る</button>
    </div>
<% end %>