<h1>ハス</h1>
<h1>マツバギク</h1>
<h1>ブローディア</h1>
<h1>タツミナソウ</h1>
<h1>ネジバナ</h1>
<h1>ニワゼキショウ</h1>
<h1>ツユクサ</h1>
<h1>アベリア</h1>
<h1>グァバ</h1>
    <div class="button2">
        <%= link_to :back do %>
        <button><< ※トップページに戻る</button>
    </div>
<% end %>