<h1>バラ</h1>
<h1>ニーレンベルギア</h1>
<h1>あま</h1>
<h1>ウツギ</h1>
<h1>ホタルブクロ</h1>
<h1>アストランティア</h1>
<h1>ツツジ</h1>
<h1>ジャスミン</h1>
<h1>ガウラ</h1>
    <div class="button2">
        <%= link_to :back do %>
        <button><< ※トップページに戻る</button>
    </div>
<% end %>