<h1>チューリップ</h1>
<h1>アンズ</h1>
<h1>ストック</h1>
<h1>レンゲソウ・ゲンゲ</h1>
<h1>ポピー</h1>
<h1>ヤグルマギク</h1>
<h1>ツクシ</h1>
<h1>ニリンソウ</h1>
<h1>ニゲラ</h1>
    <div class="button2">
        <%= link_to :back do %>
        <button><< ※トップページに戻る</button>
    </div>
<% end %>