<h1>スズラン</h1>
<h1>フロックス</h1>
<h1>クレチマス</h1>
<h1>ハナショウブ</h1>
<h1>アヤメ</h1>
<h1>シラン</h1>
<h1>モクレン</h1>
<h1>スイレン</h1>
<h1>クローバー</h1>
    <div class="button2">
        <%= link_to :back do %>
        <button><< ※トップページに戻る</button>
    </div>
<% end %>