<h1>シクラメン</h1>
<h1>スプレーマム</h1>
<h1>ユリオプスデージー</h1>
<h1>ハツコイソウ</h1>
<h1>クロッサンドラ</h1>
<h1>ペンタス</h1>
<h1>ムラサキシキブ</h1>
<h1>ハナトラノオ</h1>
<h1>ステルンベルギア</h1>
    <div class="button2">
        <%= link_to :back do %>
        <button><< ※トップページに戻る</button>
    </div>
<% end %>