<h1>ガーベラ</h1>
<h1>ハギ</h1>
<h1>アンズ</h1>
<h1>イロハカエデ</h1>
<h1>サルビア</h1>
<h1>コスモス</h1>
<h1>オミナエシ</h1>
<h1>キンモクセイ</h1>
<h1>シュウメイギク</h1>
    <div class="button2">
        <%= link_to :back do %>
        <button><< ※トップページに戻る</button>
    </div>
<% end %>