<h1>ダリア</h1>
<h1>ハマナス</h1>
<h1>チューベローズ</h1>
<h1>マーガレット</h1>
<h1>ダイコンソウ</h1>
<h1>オミナエシ</h1>
<h1>ミソハギ</h1>
<h1>みかん</h1>
<h1>アブチロン</h1>
    <div class="button2">
        <%= link_to :back do %>
        <button><< ※トップページに戻る</button>
    </div>
<% end %>